body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 600px;
}
main{
	border: 3px solid #123251;
	width: 600px;
	margin: auto;
}
h1{
	margin: auto;
	background-color: #123251;
	color: #EFEFEF;
	height: 50px;
	width: 600px;
	text-align: center;
}
.matrice{
	display: flex;
	width: 600px;
	margin: auto;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.matrice div{
	border: 3px solid #123251;
}
.square {
	margin: 20px;
	width: 60px;
	height: 60px;
	transform: scale(0.9);
}
.circle {	
	margin: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;	
}

.diamond{
	width: 60px;
	height: 60px;
	transform: rotate(45deg) skew(15deg,15deg);
	margin: 20px;
}

.full{
	background-image: linear-gradient(to right, red, orange,yellow,green,blue, indigo, violet);
}



